version: '3.9'

services:

  redis:
    image: redis:latest
    command:
      - redis-server
    env_file:
      - ./.env
    restart: on-failure
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

  postgres:
    image: postgres:17.4
    env_file:
      - ./.env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5438:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres_admin -d bot_db" ]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: on-failure

  bot:
    build: .
    command: sh -c "alembic upgrade head && python run.py"
    env_file:
      - ./.env
    restart: always
    depends_on:
      - postgres
      - redis
volumes:
  pgdata: